.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profilePhoto {
  margin: auto;
  height: 170pt;
  width: 170pt;
  border-radius: 50%;
  border: 3px dashed black;
  justify-content: center;
  overflow: hidden;
}
.profilePhoto img {
  width: 170pt;
}

.birthday {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10pt;
  
}
.birthday img {
  height: 30pt;
  width: 30pt;
  padding: 5pt;
}

.petterCard {
  background-color: wheat;
  height: 200pt;
  width: 200pt;
}

.indexImg {
  margin: auto;
  height: 170pt;
  width: 170pt;
  border-radius: 50%;
  border: 2px solid black;
  justify-content: center;
  overflow: hidden;
}

.indexImg img {
  width: 170pt;
}